.container {
  width: 961px;
  position: relative;
}

.tutorial {
  position: absolute;
  z-index: 99999;
}

.cftutorial {
  z-index: 99999;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
}

.cftutorialbg {
  background: #000;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cf-card {
  position: absolute;
  background: #fff;
  width: 550px;
  margin: 0 auto;
  left: 200px;
  top: 25%;
  padding: 25px;
  padding-bottom: 50px;
  border-radius: 15px;
  text-align: center;
}

.cf-card h1 {
  color: #03a20c;
  font-size: 1.6em;
  margin-bottom: 25px;
}

.tutorial .btn-close {
  color: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  font-size: 1.8em;
  text-align: center;
  line-height: 40px;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.tutorial img {
  width: 100%;
}

.br {
  border-right: 1px #ddd solid;
}

.bl {
  border-left: 1px #ddd solid;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.top-info {
  padding: 15px 0px 15px 0px;
}

.top-info .pagging {
  display: block;
  float: left;
}

.top-info .switch-lang {
  display: block;
  float: right;
}

.top-info .info {
  float: left;
  padding-left: 15px;
}

.top-info .datetime-info {
  float: right;
  padding-right: 15px;
}

.top-info .pagging .fa {
  color: #ddd;
}

.top-info .pagging .fa.enabled {
  color: #03a20c;
  cursor: pointer;
}

.top-info .switch-lang p.lang.active {
  background: #828282;
  float: left;
  display: block;
}

.top-info .switch-lang p.lang {
  background: #ddd;
  float: left;
  padding: 3px 5px 3px 5px;
  margin: 0px;
  font-size: 12px;
}

.top-info .switch-lang p.lang a, .top-info .switch-lang p.lang a:hover {
  display: block;
  text-decoration: none;
  color: #9a9a9a;
}

.top-info .switch-lang p.lang.active a {
  color: #fff;
}

.menu {
  background: #f2f2f4;
  height: 40px;
}

.menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menu ul li {
  float: left;
  position: relative;
}

.menu ul li:before {
  background: #e4e4e4;
  content: ' ';
  position: absolute;
  right: 0;
  top: 7px;
  height: 25px;
  width: 1px;
}

.menu ul li.last:before {
  content: ' ';
  position: absolute;
  right: 0;
  top: 7px;
  height: 25px;
  width: 0px;
}

.menu ul li a {
  padding: 10px 16px 10px 16px;
  display: block;
  color: #7d7d7d;
  text-decoration: none;
}

.menu ul li a:hover {
  background: #9e9e9e;
  color: #fff;
}

.menu ul li:hover ul {
  display: block;
}

.menu ul li ul {
  display: none;
  position: absolute;
  z-index: 100;
}

.menu ul li ul.r {
  right: 0;
}

.menu ul li ul li {
  background-color: rgba(11, 13, 15, 0.7);
  width: 230px;
  position: relative;
}

.menu ul li ul li:before {
  display: none;
}

.menu ul li ul li:after {
  content: ' ';
  position: absolute;
  bottom: 0px;
  height: 1px;
  left: 10px;
  right: 10px;
  background: rgba(11, 13, 15, 0.4);
}

.menu ul li ul li a {
  color: #fff;
  font-size: 14px;
}

.menu ul li ul li a:hover {
  background-color: rgb(60, 181, 75, .5);
}

.silde-containner {
  background: #f5f6f8;
  display: block;
  height: 255px;
  margin-top: 15px;
}

.banner-containner {
  background: #f5f6f8;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body-containner {
  background: #f5f6f8;
  display: block;
  margin-top: 0px;
  padding-bottom: 5px;
}

.footer-containner {
  padding-top: 15px;
  display: block;
  height: 150px;
  margin-top: 15px;
  text-align: center;
  color: #817b7d;
}

.footer-containner h1 {
  text-align: center;
  font-size: 24px;
  color: #96857b;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
}

.footer-containner a {
  color: #000 !important;
  text-decoration: underline;
}

.body-row-1 {
  width: 28%;
  display: block;
  float: left;
  padding-left: 10px;
}

.body-row-1 .img {
  width: 100%;
  height: 105px;
  margin-top: 10px;
}

.body-row-1 .img img {
  width: 100%;
}

.body-row-2 {
  width: 42.5%;
  display: block;
  float: left;
  padding-left: 10px;
}

.body-row-3 {
  width: 28%;
  display: block;
  float: left;
  padding-left: 10px;
}

.list-card {
  margin-top: -10px;
  background: #fff;
  width: 100%;
  height: 210px;
  position: relative;
}

.list-card .readmore {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  color: #3cb54b;
  font-size: 16px;
}

.list-card .header {
  background: #3cb54b;
}

.list-card .header h1 {
  color: #fff;
  font-size: 16px;
  padding: 8px;
}

.list-card ul {
  list-style: none;
  padding: 0px;
  margin: -5px 0px;
}

.list-card ul li span {
  padding: 0px;
  width: 100px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 17px;
  font-weight: 300;
  color: #4e4e4e;
}

.list-card ul li p {
  display: inline-block;
  vertical-align: middle;
  width: 245px;
}

.list-card ul li a {
  text-decoration: none;
  color: #a1a1a1;
  display: block;
  border-bottom: 1px #ddd solid;
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px 0px 8px 0px;
  cursor: pointer;
}

.list-card ul li.last a {
  border-bottom: none;
}

.list-footermenu-card {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  height: 215px;
}

.list-footermenu-card ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list-footermenu-card ul li {
  background: #3cb54b;
  position: relative;
}

.list-footermenu-card ul li a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  color: #fff;
  font-size: 1.5em;
}

.list-footermenu-card ul li a:hover, .list-footermenu-card ul li a:active, .list-footermenu-card ul li a:focus {
  text-decoration: none;
}

.list-footermenu-card ul li:after {
  position: absolute;
  right: 30px;
  content: '>';
  top: 10px;
  color: #fff;
  font-size: 1.5em;
}

.banner-slide {
  background: #f7f9fb;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.banner-slide hr {
  border: 5px #fff solid;
}

.banner-slide .img {
  height: 100px;
  width: 100%;
  padding: 15px;
}

.banner-slide .img img {
  width: 100%;
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px;
}

.flow-text {
  height: 40px;
  background: #ebecee;
  line-height: 2.8em;
  position: relative;
}

.flow-text .title {
  background: url('images/hotnews.png') no-repeat right;
  background-size: 110%;
  width: 150px;
  height: 40px;
  color: #fff;
  padding-left: 35px;
  padding-right: 15px;
  float: left;
  position: absolute;
  left: 0;
  padding-top: 2px;
  font-size: 14px;
}

.flow-text .message {
  width: 730px;
  height: 40px;
  float: left;
  margin: 0px 0px 0px 120px;
  color: #9c9c9c;
  overflow: hidden;
  cursor: pointer;
}

.flow-text .more {
  background: #d6d6d8;
  width: 110px;
  height: 40px;
  text-align: center;
  position: absolute;
  right: 0;
}

.flow-text .more i {
  font-size: .8em;
}

.flow-text .more a {
  color: #3cb54b;
  display: block;
  text-decoration: none;
}

.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/prev.png) no-repeat;
  background-size: 50%;
}

.bx-wrapper .bx-next {
  right: 0px;
  background: url(images/next.png) no-repeat;
  background-size: 50%;
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
  background-position: 0px 0;
}

.silde-containner .left {
  float: left;
  width: 550px;
  height: 100%;
  background: #fff;
}

.silde-containner .right { 
  background-size: 100%;
  float: left;
  width: 411px;
  height: 100%;
  position: relative;
}

.silde-containner .right img {
  width: 411px !important;
}

.silde-containner .right .data {
  position: relative;
}

.silde-containner .right .data h1.setindex {
  position: absolute;
  color: #fff;
  top: -6px;
  left: 10px;
  font-size: 30px;
}

.silde-containner .right .data h1.datavolumn {
  position: absolute;
  color: #fff;
  top: 33px;
  left: 12px;
}

.silde-containner .right .data h1.datavolumnchange {
  position: absolute;
  color: #3cb54b;
  top: 36px;
  left: 187px;
}

.silde-containner .right .data h4.v1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  top: 111px;
  left: 11px;
  font-size: 14px;
}

.silde-containner .right .data h4.v2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  top: 137px;
  left: 11px;
  font-size: 14px;
}

.silde-containner .right .data h5.status {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  top: 10px;
  right: 10px;
  font-size: 14px;
}

.silde-containner .right .data h5.datetime {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  top: 121px;
  right: 8px;
  font-size: 14px;
  text-align: right;
}

.silde-containner .left .bx-has-pager {
  position: absolute;
  display: block;
  width: 200px;
  bottom: 40px;
  left: 10px;
}

.bx-wrapper {
  margin-bottom: 0px;
}

.silde-containner .left .bx-wrapper .bx-pager {
  text-align: left;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.silde-containner .right .bx-has-pager {
  position: absolute;
  display: block;
  width: 200px;
  bottom: 40px;
  right: 10px;
}

.silde-containner .right .bx-wrapper {
  background: transparent;
}

.silde-containner .right .bx-wrapper .bx-pager {
  text-align: right;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.silde-containner .right .volumn {
  position: relative;
}

.silde-containner .right .volumn .slide {
  height: 257px;
}

.silde-containner .right .volumn .info {
  position: absolute;
  background: #3cb54b;
  height: 85px;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 15px;
  color: #fff;
}

.silde-containner .right .volumn .info h1 {
  position: absolute;
  top: 10px;
  left: 120px;
  font-size: 2.8em;
  padding: 0px;
  margin: 0px;
}

.silde-containner .right .volumn .info h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1em;
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}

.silde-containner .right .volumn .info h4 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1em;
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}

.silde-containner .right .volumn .info p.datetime {
  position: absolute;
  top: 5px;
  right: 15px;
}

.silde-containner .right .volumn .info p.cutloss {
  position: absolute;
  bottom: -3px;
  right: 100px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: rgba(102, 102, 102, 0.41);
}